<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195744590510-i31089nm2cq31i64b53hrdup51oqt278.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195744590510-i31089nm2cq31i64b53hrdup51oqt278</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195744590510-qe69ojlqtglk7ek9dotc0o31lv5j2agu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArgITH8blRneekV2tdRcNvFoPRtx9kfXw</string>
	<key>GCM_SENDER_ID</key>
	<string>195744590510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.cloudpro.salesapp</string>
	<key>PROJECT_ID</key>
	<string>cloudpro-crm</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudpro-crm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195744590510:ios:3e1e7976e36b0dd2811b3f</string>
	<key>DATABASE_URL</key>
	<string>https://cloudpro-crm.firebaseio.com</string>
</dict>
</plist>